* {
    box-sizing: border-box;
  }

:root{
    --primary-color: #FCF8E8;
    --secondary-color: #94B49F;
    --third-color: #DF7861;
    --fourth-color: #76549A;
    --black-color: black;
    --white-color:white;
    --gray-color: rgb(132, 132, 132);
  }
  #work{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        min-height: 94vh;
        margin-top: 10vh;
        
    }
    .work-wrapper{
         display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 60%;
        height: 100%;
        min-height:95%;
        max-width: 40rem;
        bottom: 0;
    }
    #work-lists{
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: black;
        min-width: 50rem;
        min-height: 95%;
        justify-items: center;
        align-items: center; 
    }
    .work-h1{
        position: absolute;
        top: 4%;
    }
    .projects-hr{  
        height: 2px;
        width: 100px;
        border: 0;
        background-color: #DF7861;
        transition: all 0.5s ease-in-out;
}
    .projects-hr-active{
    width: 85%;
    }
    
    .list-item{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(65, 65, 65);
        height: 70%;
        width: 70%;
        min-width: 17rem;
        min-height: 17rem;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 15px;
        box-shadow: 
        0px 0px 10px 1px var(--third-color),
        inset  0px 0px 10px 2px var(--third-color);
        
    }
    .title{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 15%;
       top: 5%;
        margin: auto;
         font-size: clamp(1.1rem, 1.7vw, 1.5rem);
         box-shadow:  6px 6px 5px 1px var(--third-color)
    }

    .work-describe{
        display: flex;
        flex-direction: column;
        gap: 5%;
        width: 90%;
        height: 80%;
        justify-content: center;
        margin: auto auto;
        align-items: center;
        margin-bottom: 0;
        min-width: 12vw;
    }
    .d3:hover{
        scale: 1.05;
        box-shadow:inset  -6px -6px 5px 1px var(--primary-color);
    }
    .d3 a:hover{
        scale: 1.05;
    }
    .d3 a{
    transition: all 0.5s ease-in-out;
    }
    .d1{
        min-height: 70%;
        display: flex;
        word-wrap: break-word;
        align-items: center;
        justify-content: center;
         font-size: clamp(0.9rem, 1.5vw, 1.5rem);
       
    }
    .d3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-bottom: 2%;
        width: 55%;
        height: 100%;
         color: #DF7861!important;
        font-size: clamp(1.1rem, 1.7vw, 1.5rem);
         box-shadow:  -6px -6px 5px 1px var(--primary-color);
          transition: all 0.5s ease-in-out;
          overflow: hidden;
    }

.utility{
    -webkit-animation-duration: 1000ms !important;
    animation-duration: 1000ms !important;
    
}
.quotes{
    -webkit-animation-duration: 1500ms !important;
    animation-duration: 1500ms !important;
}
.cya{
    -webkit-animation-duration: 1000ms !important;
    animation-duration: 1000ms !important;
}
.quiz-game{
     -webkit-animation-duration: 1500ms !important;
    animation-duration: 1500ms !important;
}
.activeList{
    animation: slideWork 2s both;
}
.activeHide{
    animation: hideWork 2s both
}
@keyframes hideWork {
        100%{-webkit-transform: translate(-100vw);
        -moz-transform: translate(-100vw);
        -ms-transform: translate(-100vw);
        -o-transform:translate(-100vw);
        transform: translate(100vw);}
}

@keyframes slideWork {
        0%{-webkit-transform: translate(-100vw);
        -moz-transform: translate(-100vw);
        -ms-transform: translate(-100vw);
        -o-transform:translate(-100vw);
        transform: translate(-100vw);}
}
/* //////////////////////////////////// */
@media screen and (max-width: 768px){
    body{
        height: -webkit-fill-available;
    }
    html{
          height: -webkit-fill-available;
    }
    #work{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-top: 10%;
        min-width: 100%;
    }
     .work-wrapper{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 90%;
        min-width: none;
        min-height:none;
        bottom: none;
        top:none;
        min-height: 100vh;
    }
    #work-lists{
      
        background-color: white;
       height: 80%;
       bottom: 0;
        min-width: 100%;
         padding: 2rem;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        background-color: black;
        min-height: none;
        margin-bottom: none;
        justify-content: center;
        width:none;
      
    }
    
    .work-h1{
        position: absolute;
        top:0;  
    }
}


