*,::after,::before{
  font-family:halvetica,sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root{
  --primary-color: #FCF8E8;
  --secondary-color: #94B49F;
  --third-color: #DF7861;
  --fourth-color: #76549A;
  --black-color: black;
  --white-color:white;
  --gray-color: rgb(132, 132, 132);
}
html{
  overflow:   scroll;
}
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
body {
  font-family:Arial, Helvetica, sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  background-color: black!important;
  
}
#root{
  flex-grow: 1;
  display: flex;
  
}
.App{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: black!important;
  min-width: 100%;
  min-height: 200vh;
  max-width: 350px;
 
}
#navbar{
  position: fixed;
  display: grid;
  width: 100%;
  height: 8vh;
  top:0;
  z-index: 100;
  background-color: black!important;
}
.nav-wrapper{
  display: grid;
  grid-template-columns: 25% 70%;
  justify-items:space-around;
  align-items: center;
  gap: 4%;
}
.app-icon{
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  font-size: 2.5rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.nav-wrapper ul{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  height: 100%;
  font-size: 1.2rem;
}

.nav-wrapper li{
  display: grid;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  list-style: none;
  width:100%;
  height: 100%;
}
.n-items{
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 5px;
}
a{
  text-decoration: none;
}
.nav-wrapper li:focus{
  background-color: #DF7861;
  
}
.footer-main{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 8vh;
  transition: all 0.6s ease-in-out;
}
 .footer-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.footer-contact-wrappper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 50%;
  background-color: white;
  border-radius: 15px;
  margin-top: 10rem;
}
.footerActive{
  background-color:black;
  height:100vh;
  position: absolute;
  width: 100%;
  z-index: 98;
  transition: all 0.6s ease-in-out;
}

.footer-greet{
position: relative;
}
.footer-greet:hover{
  transform: scale(1.1);
  transition: all 0.6s ease;
}
.footer-hr-top{
  
  width: 7.7rem;
  position: absolute;
  right: 0;
  
}
.footer-hr-bottom{
  width: 9.5rem;
  border: 1px solid var(--third-color);
}


.nav-items-active{
  background-color: #DF7861;
  color: black;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  transform: scale(1.2);
  
}
:root{
  --contactsize:5vw;
}
.instagram{
  background-image: url(/src/assets/instagram.png);
  height: var(--contactsize);
  width:  var(--contactsize);
}
.linkedin{
  background-image: url(/src/assets/linkedin.png);
  height:  var(--contactsize);
  width:  var(--contactsize);
}
.github{
  background-image: url(/src/assets/github.png);
  height:  var(--contactsize);
  width:  var(--contactsize);
}
.handshake{
  background-image: url(/src/assets/Handshake_logo_1.png);
  height:  var(--contactsize);
  width:  var(--contactsize);
}
.footer-contact{
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain ;
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
}
.footer-contact:hover{
  box-shadow: 0px 10px 10px black;
  transform: scale(1.5);
  transition: all 0.4s ease-in-out;
  border: solid 1px var(--third-color);
 
}

.email-send-button{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 2rem;
  color: black;
}

.name-field{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 2rem;
  padding: 0 5px;
  font-size: 1rem;
  color: black;
}
.email-field{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 2rem;
  padding: 0 5px;
  font-size: 1rem;
  color: black;
}
textarea { 
  font-size: 1.1rem;
  padding:15px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  width: 80%;
  color: black;
  
}
.form{
margin-left: 25%;
color: black;
z-index: 100;
}
@media screen and (max-width: 768px){

  
  .name-field{
    width: 170px;
    height: 1.4rem;
    padding: 0 5px;
    font-size: 1rem;
  }
  .email-field{   
    width: 170px;
    height: 1.4rem;
  }
  textarea { 
    font-size: 1rem;
    padding:10px;
    line-height: 1.1rem;
   height: 30%;
  }
  .form{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    top: 1rem;
  }
  .footer-contact-wrappper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 60%;
  }
  .footer-contact{
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain ;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    /* border-radius: 100%; */
    width: 70px;
    height: 70px;

  }
  
}


